.content-order {
  display: flex;
  margin-top: 48px;
  cursor: pointer;
}

.add-task-form-left {
  width: 440px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.add-task-form-right {
  width: 440px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.form-child-order {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}

label {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
  cursor: pointer;
}

.title-input {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 21px;
  background-color: #ffffff;
}

input:focus {
  border-color: #29abe2;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: #d1d1d1;
}

.field-alert {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #ff8190;
}

.description-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 5px 5px 16px;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 16px;
}

.description-textarea:active {
  border-color: #29abe2;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  cursor: pointer;
}

::-webkit-resizer {
  background-image: url(../assets/img/png-old/resizer_icon.png);
  background-size: 100%;
  margin-left: 10px;
}

.assigned-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.assigned-select:hover {
  border: 1px inset #a8a8a8;
}

.assigned-container {
  position: relative;
  display: inline-block;
}

.assigned-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.hover-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.hover-circle:hover {
  background-color: #d9d9d9;
}

.assigned-select:focus {
  border: 1px solid #29abe2;
}

.assigned-select::placeholder {
  color: #000000;
}

.dividing-bar {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  width: 0px;
  margin: 0px 48px;
}

::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/png-old/calendar_icon.png);
  background-size: 18px 20px;
  padding: 0;
  margin: 0;
}

.div-button-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.urgent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}
.clicked-urgent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #ff3d00;
  color: #ffffff;
}

.urgent-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .urgent-button svg path {
  fill: #ffffff;
} */

.medium-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked-medium {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #ffa800;
  color: #ffffff;
}

.medium-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.low-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked-low {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #7ae229;
  color: #ffffff;
}

.low-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-img {
  height: 14.51px;
  width: 20px;
}

.category-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.category-select:hover {
  border: 1px inset #a8a8a8;
}

.category-container {
  position: relative;
  display: inline-block;
}

.category-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.category-select::placeholder {
  color: #000000;
}

.subtasks-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.subtasks-select:hover {
  border: 1px inset #a8a8a8;
}

.subtasks-container {
  position: relative;
  display: inline-block;
}

.subtasks-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.subtasks-select:focus {
  border: 1px solid #29abe2;
}

.bottom-order {
  max-width: 976px;
  display: flex;
  justify-content: space-between;
  padding-top: 138px;
  padding-bottom: 79px;
}

.bottom-button-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.clear-button {
  display: flex;
  align-items: center;
  width: 110px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  padding: 16px;
  gap: 4px;
  color: #2a3647;
  background-color: #F6F7F8;
}

.text-buttons {
  font-size: 20px;
  line-height: 24px;
  width: 50px;
  font-weight: 400;
}

.clear-button div {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button:hover {
  border-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #29abe2;
}

.create-task-button {
  display: flex;
  align-items: center;

  width: 183px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  padding: 15px;
  gap: 4px;
  background-color: #2a3647;
  color: #ffffff;
}

.create-task-button span {
  width: 123px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.create-task-button div {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-task-button:hover {
  border-color: #29abe2;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.alert-field {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.clear-button:hover svg path {
  stroke: #29abe2;
}
