body {
  visibility: hidden;
}

.content-order {
  display: flex;
  margin-top: 48px;
  cursor: pointer;
}

.add-task-form-left {
  width: 440px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.add-task-form-right {
  width: 440px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.form-child-order {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}

label {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
  cursor: pointer;
}

.title-input {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 21px;
  background-color: #ffffff;
}

input:focus {
  border-color: #29abe2;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: #d1d1d1;
}

.field-alert {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #ff8190;
}

.description-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 5px 5px 16px;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 16px;
}

.description-textarea:active {
  border-color: #29abe2;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  cursor: pointer;
}

::-webkit-resizer {
  background-image: url(../assets/img/png-old/resizer_icon.png);
  background-size: 100%;
  margin-left: 10px;
}

.assigned-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.assigned-select:hover {
  border: 1px inset #a8a8a8;
}

.assigned-container {
  position: relative;
  display: inline-block;
}

.assigned-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.hover-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.hover-circle:hover {
  background-color: #EEEEEE;
}

.assigned-select:focus {
  border: 1px solid #29abe2;
}

.assigned-select::placeholder {
  color: #000000;
}

.dividing-bar {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  width: 0px;
  margin: 0px 48px;
}

::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/png-old/calendar_icon.png);
  background-size: 18px 20px;
  padding: 0;
  margin: 0;
}

.category-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.category-select:hover {
  border: 1px inset #a8a8a8;
}

.category-container {
  position: relative;
  display: inline-block;
}

.category-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.category-select::placeholder {
  color: #000000;
}

.subtasks-select {
  display: flex;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.subtasks-select:hover {
  border: 1px inset #a8a8a8;
}

.subtasks-container {
  position: relative;
  display: inline-block;
}

.subtasks-container div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  right: 15px;
}

.subtasks-select:focus {
  border: 1px solid #29abe2;
}

.bottom-order {
  max-width: 976px;
  display: flex;
  justify-content: space-between;
  padding-top: 138px;
  padding-bottom: 79px;
}

.alert-field {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.required-sign {
  color: #ff8190;
}

.add-task-link {
  background-color: #091931;
  color: white !important;
}
