.dividing_bar {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  width: 0px;
  margin: 0px 48px;
}

.content_order {
  display: flex;
  margin-top: 48px;
}

.div_order {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 440px;
}

.div_button_order {
  display: flex;
  align-items: center;
  width: 440px;
  gap: 16px;
}

.add_task_form {
  width: 440px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

input {
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 21px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 16px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

/* ::-webkit-resizer {
  background-image: url(../assets/img/png/resizer_icon.png);
  background-size: 100%;
  margin-left: 10px;
} */

select {
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
}

.urgent_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}
.clicked_urgent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #FF3D00;
  color: #ffffff;
}

.urgent_button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .urgent_button svg path {
  fill: #ffffff;
} */

.medium_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked_medium{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #FFA800;
  color: #ffffff;
}

.medium_button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.low_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked_low{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #7AE229;
  color: #ffffff;
}

.low_button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio_img {
  height: 14.51px;
  width: 20px;
}

::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/png/calendar_icon.png);
  background-size: 18px 20px;
  padding: 0;
  margin: 0;
}

select:not(:-internal-select-author-button) {
  -webkit-appearance: none;
  background-image: url(../assets/img/png/arrow_drop_down.png);
  background-repeat: no-repeat;
  background-position: 93%;
  cursor: pointer;
}

.add_icon {
  background-image: url(../assets/img/png/Subtasks\ icons11.png);
  background-repeat: no-repeat;
  background-position: 95%;
  cursor: pointer;
  padding: 16px;
  margin: 0;
}

.bottom_order {
  width: 976px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
}

.bottom_button_order {
  display: flex;
  align-items: center;
  gap: 16px;
}

.clear_button {
  width: 110px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 16px;
  gap: 4px;
  color: #2a3647;
}

.clear_button:hover {
  border-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #29abe2;
}

.create_task_button {
  width: 183px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 16px;
  gap: 4px;
  background-color: #2a3647;
  color: #ffffff;
}

.create_task_button:hover {
  border-color: #29abe2;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.alert_field {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.close_img {
  height: 15px;
}

.check_img {
  height: 15px;
}

.clear_button:hover svg path {
  stroke: #29abe2;
}
