.bord-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBox {
    width: 312px;
    height: 48px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchBox input {
    width: 48;
    height: 32px;

  }
  
  .searchBox button {
    cursor: pointer;
    width: 48;
    height: 32px;
    padding: none;

  }