.board {
  padding: 80px 64px 0;
  gap: 55px;
}

.board-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-menue {
  width: 504px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.searchBox {
  width: 312px;
  height: 48px;
  padding: 0 16px;
  background-color: white;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBox input {
  height: 32px;
  width: 230px;
  padding: 0;
  background: transparent;
  font-size: 20px;
}

.searchBox input::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: rgb(209, 209, 209);
}

.searchBox button {
  cursor: pointer;
  height: 32px;
  width: 48px;
  padding: 0;
  border-left: 1px solid rgb(209, 209, 209);
  border-radius: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
}

.searchBox button svg {
  border-radius: 50%;
}

.searchBox button:hover svg {
  background-color: rgb(246, 247, 248);
}

.searchBox button svg path {
  transition: fill 0.1s ease;
}

.searchBox button:active svg {
  background-color: transparent;
}

.searchBox button:active svg path {
  fill: rgb(41, 171, 226);
}

.wh-32 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanban-board {
  font-size: 20px;
  font-weight: 700;
  color: rgb(66, 82, 110);
  display: flex;
  justify-content: space-between;
}

.kanban-column {
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kanban-headline {
  display: flex;
  justify-content: space-between;
}

.kanban-add-button{
  padding: 0;
  background-color: transparent;
}

.kanban-add-button:hover {
  background-color: transparent;
}

.kanban-add-button:hover svg rect,
.kanban-add-button:hover svg path {
  stroke: rgb(41, 171, 226);
}

.kanban-add-button:active{
  background-color: transparent;
}

.kanban-add-button:active svg rect,
.kanban-add-button:active svg path {
  stroke: rgb(9, 25, 49);
}

.kanban-tickets {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ticket-none{
  width: 100%;
  height: 48px;
  background-color: rgb(231, 231, 231);
  font-size: 16px;
  font-weight: 400;
  color: rgb(168, 168, 168);
  border: 1px dashed rgb(168, 168, 168);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-card{
  cursor: pointer;
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ticket-category{
  width: fit-content;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.ticket-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ticket-title{
  font-size: 16px;
  color: rgb(42, 54, 71);
}

.ticket-description{
  font-size: 16px;
  font-weight: 400;
  color: rgb(168, 168, 168);
}

.ticket-subtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-subtasks-bar {
  width: 128px;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 4px;
  overflow: hidden;
}

.ticket-subtasks-bar::before {
  content: '';
  border-radius: 4px;
  display: block;
  width: 66%; /* Represents 1/2 completion */
  height: 100%;
  background-color:rgb(69, 137, 255);
}

.ticket-subtasks-text {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.ticket-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-assignees {
  display: flex;
}

.assignee {
  width: 32px;
  height: 32px;
  margin-right: -8px; /* Creates overlapping effect */
  font-size: 12px;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.d-none{
  display: none;
}