@media screen and (max-width: 1024px) {
  .content {
    padding: 0px;
    margin-left: clamp(116px, 14vw, 232px);
    width: calc(100% - 116px);
  }

  .text-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-seperator {
    width: 59px;
    height: 3px;
  }

  .contacts {
    width: clamp(306px, 23vw, 352px);
  }

  .contact-seperator {
    width: 242px;
    margin: 8px 0px 8px 12px;
  }

  .contact-info {
    font-size: clamp(12px, 5vw, 20px);
  }
}

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%; /*muss weil keine sidebar mehr da ist links  */
    margin: 80px 0px 192px;
    padding: 0px 16px 0px;
  }

  .add-contact {
    display: none;
  }

  #contact_info {
    display: none;
  }

  #contact_list {
    margin-left: 9px;
  }

  .letter-box {
    width: clamp(300px, 77vw, 352px);
  }

  .contacts {
    width: clamp(300px, 77vw, 352px);
  }

  .contact-box {
    width: 100%;
    height: calc(100vh - 160px);
    padding: 32px 0px;
    align-items: flex-start;
  }

  .contact-seperator {
    margin-left: clamp(0px, 77vw, 12px);
    width: clamp(270px, 77vw, 352px);
  }
}
