@media screen and (max-width: 1440px) {
  .content{
    /* padding: 16px; */
  }
}
@media screen and (max-width: 1240px) {
  .content{
    margin-left: 144px;
  }
}
/* @media screen and (max-width: 1145px) {
  .bottom-order {
    width: calc(100% - 167px);
  }
}

@media screen and (max-width: 999px) {
  .bottom-order {
    width: calc(100% - 17%);
  }
}

@media screen and (max-width: 777px) {
  .add-task-h1 {
    padding-inline: 16px;
  }
  .content {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
}
  .bottom-order {
    width: 100%;
    bottom: 80px;
    left: 0px;
    background-color: rgb(246, 247, 248);
    padding: 16px 16px;
  }
  .content-order {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    overflow-y: auto;
    height: calc(100vh - 452px);
  }
  .dividing-bar {
    display: none;
  }
  .add-task-form-left {
    padding: 0px 16px;
    width: auto;
  }
  .add-task-form-right {
    padding: 0px 16px;
    width: auto;
  }
  .div-button-order {
    justify-content: space-between;
  }
}

@media screen and (max-width: 516px) {
  .clear-button {
    display: none;
  }
  .div-button-order {
    align-items: flex-start;
    flex-direction: column;
  }
} */