@media screen and (max-width: 1200px) {
  .content {
    padding: 40px;
    padding-inline: clamp(16px, 1vw, 96px);
  }
}

@media screen and (max-width: 855px) {
  .bottom-order {
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    position: fixed;
    bottom: 20px;
  }
  .content-order {
    overflow-y: auto;
    height: calc(100vh - 376px);
  }
  .content {
    padding: 40px 0px;
    margin-left: clamp(100px, 15vw, 144px);
  }
  .add-task-board {
    padding: 64px 35px;
  }
  h1 {
    font-size: clamp(47px, 7vw, 61px);
}
}

@media screen and (max-width: 783px) {
    label{
        font-size: clamp(16px, 4vw, 20px);
    }
    input{
        font-size: clamp(16px, 4vw, 20px);
    }
    textarea{
        font-size: clamp(16px, 4vw, 20px);
    }
    .div-input{
        font-size: clamp(16px, 4vw, 20px);
    }
    .prio-span{
        font-size: clamp(16px, 4vw, 20px);
    }
    button{
        font-size: clamp(16px, 4vw, 20px);
    }
    .alert-field{
        font-size: clamp(12px, 4vw, 16px);
    }
  .content {
    padding: 50px 0px;
    margin-left: 0px;
  }
  .content-order {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    overflow-y: auto;
    height: calc(100vh - 376px);
  }
  .dividing-bar {
    display: none;
  }
  .add-task-form-left {
    padding: 0px 16px;
    width: auto;
  }
  .add-task-form-right {
    padding: 0px 16px;

    width: auto;
  }
  .div-button-order {
    justify-content: space-between;
  }
  .clear-button {
    display: none;
  }
  .div-button-order {
    align-items: flex-start;
    flex-direction: column;
  }
  .edit-overflow{
    overflow-y: auto;
  }
  .add-task-board-click{
    width: 100%;
    margin-inline: 20px;
}
}
