@media screen and (max-width: 1400px) {
  .head {
    padding-bottom: 21px;
  }

  .d-flex {
    flex-direction: column-reverse;
  }

  .greeting {
    padding: 0px 0px 30px 0px;
  }




}



@media screen and (max-width: 1000px) {
  /* .greeting{
    display: none;
  } */

  .content {
    padding: 110px 18px 70px 0px;
    margin-left: clamp(180px, 3vw, 232px);
  }




}

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%; /*muss weil keine sidebar mehr da ist links  */
    margin: 80px 0px 192px;
    padding: 48px 16px 0px;
  }

  .content-tasks {
    height: 100%;
    /* height: clamp(384px,3vw,512px); */
  }

  body {
    height: 100%;
  }

  .head {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;
  }

  h1 {
    font-size: 47px;
  }

  h2 {
    order: 0;
    font-size: 20px;
  }

  .seperator-blue {
    order: 1;
    width: 59px;
    height: 1px;
  }

  .greeting {
    display: none;
  }

  .task-in-block {
    height: clamp(99px, 23vw, 168px);
  }

  .seperator-grey {
    height: clamp(68px,14vw,102px);
}
}
