* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", normal;
  height: 100%;
}

.content {
  margin: 96px 0px 0px 232px;
  padding: 110px 96px 0px 96px;
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

.bg_color {
  background-color: #f6f7f8;
}

.font_color {
  color: #2a3647;
}

.max_width {
  max-width: 1440px;
  margin: auto;
}

button{
  cursor: pointer;
}