* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", normal;
  height: 100%;
}

.content {
  margin: 96px 0px 0px 232px;
  padding: 110px 96px 0px 96px; 
  display: flex;
  flex-direction: column;
  gap: 48px;
}

h1{
    font-weight: 700;
    font-size: 61px;
}
