* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", normal;
  height: calc(100% - 96px);
}

.content {
  height: 100%;
  width: calc(100% - 232px);
  margin-left: 232px;
  margin-top: 96px;
  padding: 110px 96px 0;
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

.bg_color {
  background-color: #f6f7f8;
}

.font_color {
  color: #2a3647;
}

.max_width {
  max-width: 1440px;
  margin: auto;
}

button{
  cursor: pointer;
}