body {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 100px;
  height: 122px;
  position: absolute;
  top: 80px;
  left: 77px;
}

.change-access {
  width: 279px;
  height: 49px;
  position: absolute;
  top: 67px;
  right: 122px;
}

.legal {
  width: 246px;
  position: absolute;
  bottom: 40px;
  color: rgb(168, 168, 168);
}

.access-window {
  position: relative;
  background-color: white;
  padding: 48px 115px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.w-652 {
  width: 652px;
}

.w-598 {
  width: 598px;
}

.arrow{
    position: absolute;
    top: 64px;
    left: 48px;
}

.blue-line {
  width: 150px;
  height: 3px;
  background-color: rgb(41, 171, 226);
}

.remember{
  padding-left: 39px;
  display: flex;
  align-items: center;
}

.login-buttons{
  width: 322px;
  height: 48px;
}

.guest-button{
  font-weight: 700;
}

.link-privacy-policy{
  color: rgb(41, 171, 226);
}

.link-privacy-policy:hover{
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.h-48{
  height: 48px;
}

.d-none {
  display: none;
}
