.board {
  padding: 80px 64px;
  gap: 55px;
}

.board-menue {
  width: 504px;
  height: 48px;
}

.input-button {
  cursor: pointer;
  height: 32px;
  width: 48px;
  padding: 0;
  border: none;
  border-left: 1px solid rgb(209, 209, 209);
  border-radius: 0;
  background: transparent;
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: end;
}

.input-button:hover {
  box-shadow: none;
  background-color: transparent;
}

.input-button svg {
  border-radius: 50%;
}

.input-button:hover svg {
  background-color: rgb(238, 238, 238);
}

.input-button svg path {
  transition: fill 0.1s ease;
}

.input-button:active svg {
  background-color: transparent;
}

.input-button:active svg path {
  fill: rgb(41, 171, 226);
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.kanban-column {
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kanban-add-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.kanban-add-button:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.kanban-add-button:hover svg rect,
.kanban-add-button:hover svg path {
  stroke: rgb(41, 171, 226);
}

.kanban-add-button:active {
  background-color: transparent;
  border: none;
}

.kanban-add-button:active svg rect,
.kanban-add-button:active svg path {
  stroke: rgb(9, 25, 49);
}

.kanban-tickets {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ticket-none {
  width: 100%;
  height: 48px;
  background-color: rgb(231, 231, 231);
  font-family: "Open Sans", normal;
  color: rgb(168, 168, 168);
  border: 1px dashed rgb(168, 168, 168);
  border-radius: 10px;
}

.ticket-card {
  cursor: pointer;
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ticket-category {
  width: fit-content;
  padding: 4px 16px;
  border-radius: 8px;
}

.ticket-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ticket-title {
  color: rgb(42, 54, 71);
}

.ticket-description {
  color: rgb(168, 168, 168);
}

.ticket-subtasks-bar {
  width: 128px;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 4px;
  overflow: hidden;
}

.ticket-subtasks-bar::before {
  content: "";
  border-radius: 4px;
  display: block;
  width: 66%;
  height: 100%;
  background-color: rgb(69, 137, 255);
}

.ticket-subtasks-text {
  font-size: 12px;
}

.assignee {
  font-size: 12px;
  border: 1px solid white;
  border-radius: 50%;
}

.mar-r-8 {
  margin-right: -8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
}

.single-ticket {
  width: 525px;
  background-color: white;
  padding: 48px 32px 48px 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.overflow{
  max-height: calc(100vh - 112px);
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.single-ticket-category {
  width: fit-content;
  padding: 4px 24px;
  border-radius: 8px;
  font-size: 23px;
}

.close-ticket {
  border-radius: 50%;
}

.close-ticket:hover {
  background-color: rgb(238, 238, 238);
}

.single-ticket-meta {
  display: flex;
  align-items: center;
  gap: 25px;
}

.single-ticket-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.single-ticket-lines {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.single-ticket-assignee {
  width: 100%;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.single-ticket-subtasks {
  width: fit-content;
  padding: 4px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.single-ticket-subtasks img {
  border-radius: 50%;
}

.single-ticket-subtasks:hover {
  background-color: rgb(238, 238, 238);
}

.single-ticket-subtasks:hover img {
  background-color: rgb(209, 209, 209);
}

.single-ticket-edit {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.dividing-line {
  height: 24px;
  width: 1px;
  background-color: rgb(209, 209, 209);
}

.img-default {
  display: block;
}

.img-hover {
  display: none;
}

.edit:hover .img-default {
  display: none;
}

.edit:hover .img-hover {
  display: flex;
}

.delete:hover .img-default {
  display: none;
}

.delete:hover .img-hover {
  display: flex;
}

.d-none {
  display: none;
}

.board-link {
  background-color: #091931;
  color: white !important;
}

.board-link .box-icons path {
  fill: white !important;
}
