/* @media screen and (min-width: 1441px) {
  .content {
    padding-inline: calc(96px + (100vw - 1440px)/2);
  }

  .board {
    padding-inline: calc(64px + (100vw - 1440px)/2);
  }

} */

@media screen and (min-width: 1441px) {
  .content {
    padding-right: calc(96px + (100vw - 1440px));
  }

  .board {
    padding-right: calc(64px + (100vw - 1440px));
  }
}